<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <form action="" class="login-form" @submit.prevent="login">
            <label for="account">帳號</label>
            <input type="email" id="account" v-model="data.username" />

            <label for="password">密碼</label>
            <input type="password" id="password" v-model="data.password" />

            <br />

            <input type="submit" value="登入" id="btn_login" />
        </form>
    </div>
</body>

<script>
    const {
        ref,
        reactive,
    } = Vue;

    const App = {
        setup() {
            const api = ref("https://vue3-course-api.hexschool.io");
            const path = ref("vue-live");
            const data = reactive({
                username: "",
                password: "",
            });

            const login = (e) => {
                if (data.username !== '' && data.password !== '') {
                    axios.post(`${api.value}/admin/signin`, data)
                        .then((res) => {
                            if (res.data.success) {
                            const {
                                token,
                                expired
                            } = res.data;
                            document.cookie = `henToken=${token};expires=${new Date(expired)}`;
                                window.location.assign("./Vue-week4-dashboard.html");
                                return
                            }
                            alert(`${res.data.message}`);
                        })
                        .catch(err => {
                            alert(err.message);
                        })
                } else {
                    alert("帳號密碼為必填");
                }
            };

            return {
                data,
                login,
            };
        },
    };

    Vue.createApp(App).mount("#app");
</script>

<style>
    * {
        padding: none;
        margin: none;
    }

    .login-form {
        width: 30%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
</style>

</html>